* {
    -fx-fblue: '#004C6A';
    -fx-fbluelight: '#0A759D';
    -fx-fgreen: '#B2D235';
}
//hoofdpanneel
#hoofdpanneel_id{
    -fx-border-color: black; 
    
    //-fx-background-color: -fx-fblue
}

#dashboard_id{
    -fx-background-color: -fx-fblue
}

#dashboardButton{
    -fx-font-size: 20px;
    -fx-text-fill: -fx-fgreen;
    -fx-font-weight: bold;
    //-fx-font: normal bold 47px 'system';
    -fx-background-color: -fx-fblue; 
    -fx-border-color: black; 
    -fx-border-width: 2;    
}

#dashboardButton:hover{
    -fx-font-size: 20px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-background-color: -fx-fgreen;
}

//Aanmelden
#aanmeldpanneel_id {
    -fx-background-color: -fx-fblue;
    -fx-min-width: 800px;
}

#header_id{
    -fx-text-fill: -fx-fgreen; 
    -fx-font: normal bold 47px 'system';
}

#gebruikersnaamlbl_id, #wachtwoordlbl_id {
    -fx-text-fill: -fx-fgreen; 
    -fx-font: normal 18px 'system';
}

#gebruikersnaambtn_id {
    -fx-font-size: 18px;
    -fx-font: normal 18px 'system';
}
#wachtwoordbtn_id {
    -fx-font-size: 18px;
    -fx-font: normal 18px 'system';
}

#aanmeldenbtn_id{
    -fx-background-color: -fx-fbluelight; 
    -fx-text-fill: -fx-fgreen; 
    -fx-font: normal 18px 'system';
    -fx-border-color: black;
}

#aanmeldenbtn_id:hover {
    -fx-text-fill: black;
    -fx-background-color: -fx-fgreen; 
}

//dashboard
#categorybtn_id, #listsdgbtn_id, #listmvobtn_id, #btnaanmelden_id {
    -fx-background-color: -fx-fblue;
    -fx-text-fill: -fx-fgreen;

    -fx-font: normal 18px 'system';

    -fx-border-color: black;
    -fx-border-width: 1;  

    -fx-pref-width: 200px;
}

#categorybtn_id:hover, #listsdgbtn_id:hover, #listmvobtn_id:hover, #btnaanmelden_id:hover {
    -fx-background-color: -fx-fbluelight;
    -fx-text-fill: black; 
}

//Categorieën
#categorieVBox_id, #sdglistVbox_id, #mvolistVbox_id, #sdgvbox_id, #sdgpaneelvbox_id{
    -fx-background-color: #D3D3D3;
}


#verwijdercatbtn_id, #aanmakencatbtn_id, 
#createsdgbtn_id, #deletesdgbtn_id, 
#createmvobtn_id, #deletemvobtn_id, 
#createsdgpaneelbtn_id, #wijzigsdgpaneelbtn_id, #deletesdgpaneelbtn_id, #retoursdgpaneelbtn_id,
#createMVOGoalbtn_id, #editMVOGoalbtn_id, #deleteMVOGoalbtn_id, #listMVOGoalbtn_id, #datasourceMVOGoalbtn_id {
    -fx-background-color: -fx-fbluelight;
    -fx-text-fill: -fx-fgreen;
    -fx-font: normal 15px 'system';
    -fx-min-width: 200px;
    -fx-alignment:center

    /* -fx-border-color: black;
    -fx-border-width: 1; */
}

#verwijdercatbtn_id:hover, #aanmakencatbtn_id:hover, 
#createsdgbtn_id:hover, #deletesdgbtn_id:hover, 
#createmvobtn_id:hover, #deletemvobtn_id:hover, 
#createsdgpaneelbtn_id:hover, #wijzigsdgpaneelbtn_id:hover, #deletesdgpaneelbtn_id:hover, #retoursdgpaneelbtn_id:hover,
#createMVOGoalbtn_id:hover, #editMVOGoalbtn_id:hover, #deleteMVOGoalbtn_id:hover, #listMVOGoalbtn_id:hover, #datasourceMVOGoalbtn_id:hover {
    -fx-background-color: -fx-fgreen;
    -fx-text-fill: black; 
}

.table-view{
    -fx-background-color: transparent;
}

.table-view .column-header{
    -fx-background-color: linear-gradient(to bottom, -fx-fblue, -fx-fbluelight);
    -fx-dark-text-color: -fx-fgreen;
    -fx-mid-text-color: -fx-fgreen;
    -fx-light-text-color: -fx-fgreen;
}

.table-view .virtual-flow .scroll-bar:vertical,
.table-view .virtual-flow .scroll-bar:vertical .track,
.table-view .virtual-flow .scroll-bar:vertical .track-background,
.table-view .virtual-flow .scroll-bar:horizontal,
.table-view .virtual-flow .scroll-bar:horizontal .track,
.table-view .virtual-flow .scroll-bar:horizontal .track-background {
    -fx-background-color: transparent;
    
    -fx-border-color: black;
    -fx-border-width: 1; 
}

.table-view .virtual-flow .scroll-bar .increment-button,
.table-view .virtual-flow .scroll-bar .decrement-button {
    -fx-opacity: 0;
    -fx-padding: 2;
}

.table-view .virtual-flow .scroll-bar:vertical .thumb{
    -fx-background-color:  linear-gradient(to bottom, -fx-fblue, -fx-fbluelight);
}
.table-view .virtual-flow .scroll-bar:horizontal .thumb {
    -fx-background-color:  linear-gradient(to right, -fx-fblue, -fx-fbluelight);
}

.table-row-cell: highlighted {
    -fx-background-color: -fx-fgreen;
}

#titleSDG_id, #mvogoaltitle_id{
    -fx-font-family: "Arial";
    -fx-font-size: 30px;
    -fx-text-fill: black;
    -fx-font-weight: bold;
}